:root{
    --white: #DEDEDE;
    --light-gray: #9E9E9E;
    --gray: #636363;
    --dark-gray: #2E2E2E;
    --black: #040404;

    --accent-cyan: #00DDD4;
    --accent-purple: #8E06C9;
    --accent-red: #EA2413;
    --base-cyan: #15524F;
    --base-purple: #300D44;
    --base-red: #541811;

    --wp-orange: #E87F25;
    --wp-orange-bg: #693B18;
    --ts-blue: #6F9BFF;
    --ts-blue-bg: #324673;
    --dp-green: #54B85B;
    --dp-green-bg: #29532B;

    
    --white-50: #DEDEDE80;
    --light-gray-50: #9E9E9E80;
    --gray-50: #63636380;
    --dark-gray-50: #2E2E2E80;
    --black-50: #04040480;
}