.unity-scroller{
    width: 10px;
}

.unity-slider {
    width: 100%;
    min-width: 0px;
}

.unity-repeat-button{
    display: none;
}

.unity-base-slider__drag-container {
}
.unity-base-slider{
    margin: 0px;
}

.unity-base-slider__tracker {
    top: 0;
    height: 100%;
    border-width: 0;
    margin: 0;
    background-color: rgb(40, 40, 40);
}

.unity-base-slider__dragger-border {
    background-color: rgb(40, 40, 40);
}

.unity-base-slider__dragger {
    left: 0px;
    top: 0;
    width: 10px;
    border-width: 0;
    margin: 0;
    height: 100%;
}

.unity-scroll-view__content-and-vertical-scroll-container {
    flex-direction: row-reverse;
}

.unity-scroll-view__content-container {
    flex-direction: row;
    justify-content: space-evenly;
}
