.unity-label {
    margin: 0;
    padding: 4px;
}

.H1 {
    font-size: 36px;
    letter-spacing: 15px;
    white-space: normal;
    -unity-font-definition: url("project://database/Assets/Visual/UI Toolkit/Fonts/LibreFranklin/Base/LibreFranklin-Black SDF.asset");
}

.H2 {
    font-size: 28px;
    white-space: normal;
    -unity-font-definition: url("project://database/Assets/Visual/UI Toolkit/Fonts/LibreFranklin/Base/LibreFranklin-Black SDF.asset");
}

.H3 {
    font-size: 22px;
    white-space: normal;
}

.P {
    font-size: 18px;
    white-space: normal;
    -unity-font-definition: url("project://database/Assets/Visual/UI Toolkit/Fonts/LibreFranklin/Base/LibreFranklin-Black SDF.asset");
}