.unity-label {
    margin: 0;
    padding: 4px;
}

.H1 {
    font-size: 36px;
    white-space: normal;
}

.H2 {
    font-size: 28px;
    white-space: normal;
}

.H3 {
    font-size: 22px;
    white-space: normal;
}

.P {
    font-size: 18px;
    white-space: normal;
}