.unity-button {
    color: var(--white);
    padding: 0px;
    border-width: 0;
    margin: 0;
    overflow: visible;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease-in-out-cubic, ease-in-out-cubic, ease-in-out-cubic, ease-in-out-cubic;
    transition-property: scale, color, background-color, border-color;
}

    .unity-button:hover {
        background-color: var(--light-gray);
        scale: 1.1 1.1;
    }

.PrimaryButton {
    background-color: var(--accent-main);
    border-width: 5px;
    border-color: var(--white);
}
    .PrimaryButton:hover {
        color: var(--accent-main);
        background-color: var(--white);
        border-color: var(--accent-main);
    }

.SecondaryButton {
    background-color: var(--dark-gray);
    border-width: 5px;
    border-color: var(--accent-main);
}

    .SecondaryButton:hover {
        color: var(--accent-main);
        background-color: var(--white);
    }

.TertiaryButton {
    background-color: var(--dark-gray-50);
    border-width: 5px;
    border-color: var(--white);
}

    .TertiaryButton:hover {
        color: var(--accent-main);
        background-color: var(--dark-gray-50);
        border-color: var(--accent-main);
    }

.RigidButton {
}

    .RigidButton:hover {
        scale: 1 1;
    }

.ClearButton {
    background-color: rgba(0, 0, 0, 0);
}

    .ClearButton:hover {
        background-color: rgba(0, 0, 0, 0);
    }

.InvisibleButton{
    opacity: 0;
}

    .InvisibleButton:hover {
        opacity: 0;
        scale: 1 1;
    }