:root {
    --white: #EEEEEE;
    --light-gray: #ABABAB;
    --gray: #696969;
    --dark-gray: #2E2E2E;
    --black: #040404;

    --accent-main: #EE1401;
    --accent-enemy: #357BEE;

    --accent-wp: #E09834;
    --base-wp: #8A5D23;
    --accent-ts: #9066CE;
    --base-ts: #4E3472;
    --accent-dp: #46BB68;
    --base-dp: #236436;

    --white-50: #EEEEEE80;
    --light-gray-50: #ABABAB80;
    --gray-50: #69696980;
    --dark-gray-50: #2E2E2E80;
    --black-50: #04040480;

    --accent-main-50: #EE140180;
}

.WP {
    background-color: var(--base-wp);
    -unity-background-image-tint-color: var(--base-wp);
}

.TS {
    background-color: var(--base-ts);
    -unity-background-image-tint-color: var(--base-ts);
}

.DP {
    background-color: var(--base-dp);
    -unity-background-image-tint-color: var(--base-dp);
}