.unity-progress-bar{
    margin: 0;
}

.unity-progress-bar__container {
    min-height: 12px;
    max-height: 120px;
    flex-grow: 1;
}

.unity-progress-bar__background {
    border-width: 0;
    background-color: var(--dark-gray);
}

.unity-progress-bar__progress {
    margin: 0;
    background-color: var(--accent-main);
}