.LobbyPanel {
    background-color: var(--dark-gray-50);
    border-width: 5px;
    border-top-color: var(--white);
    border-right-color: var(--white);
    border-bottom-color: var(--white);
    border-left-color: var(--white);
}

.lobby{
    width: 1920px;
    height: 1080px;
}

.topSection{
    height: 90px;
    padding: 10px;
}

.backButton{
    height: 70px;
    width: 140px;
}

.startButton{
    position:absolute;
    align-self: center;
    height: 70px;
    width: 460px;
}



.midSection {
    height: 630px;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.difficultyPanel {
    width: 300px;
    height: 430px;
    padding: 15px;
}

.difficultyButtonBox {
    flex-direction: row;
    justify-content: space-between;
}

.difficultyButton {
    width: 80px;
    height: 120px;
    background-color: var(--dark-gray);
}

.SelectedDifficultyButton {
    border-width: 4px;
    border-top-color: var(--white);
    border-right-color: var(--white);
    border-bottom-color: var(--white);
    border-left-color: var(--white);
}

.difficultyInfoBox {
    flex-grow: 1;
}

.difficultyName {
    height: 40px;
    background-color: var(--gray);
    margin-top: 10px;
    padding: 10px;
    -unity-text-align: middle-center;
}

.difficultyDescription{

}

.difficultyModifiers {
    flex-grow: 1;
    background-color: var(--gray);
    margin-top: 10px;
    padding: 10px;
}

.teamPanel {
    align-self: center;
    height: 610px;
    flex-grow: 1;
    flex-direction: row;
}

.memberField{
    flex-grow: 1;
}

.soldiersPanel {
    width: 300px;
    height: 610px;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
}

.iconColumn {
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
}

.soldierIcon {
    width: 120px;
    height: 120px;
    margin: 5px;
}



.bottomSection {
    height: 360px;
    padding: 10px;
}

.attributesPanel {
    flex-grow: 1;
    height: 360px;
    flex-direction: row;
    justify-content: space-between;
}

.attributeBox {
    width: 600px;
    margin: 5px;
    padding: 10px;
    color: var(--white);
}

.buttonBox {
    flex-direction: row;
}

.attributeButton {
    height: 50px;
    flex-grow: 1;
}

.statsBox {
    height: 130px;
    margin-top: 10px;
    padding: 10px;
}

.horizontalPair {
    flex-direction: row;
    justify-content: space-evenly;
}

.statsColumn{
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.DeactivatedButton{
    background-color: var(--gray);
}

    .DeactivatedButton.WP {
        color: var(--base-wp);
    }

    .DeactivatedButton.TS {
        color: var(--base-ts);
    }

    .DeactivatedButton.DP {
        color: var(--base-dp);
    }

.attributeDescription {
    flex-grow: 1;
    margin-top: 10px;
    padding: 10px;
    -unity-text-align: middle-left;
}
