.bottomSection {
    top: 810px;
    align-self: center;
    width: 1920px;
    height: 270px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.unitProfile {
    width: 320px;
    height: 180px;
}

.moduleMesh {
    height: 75px;
    -unity-background-image-tint-color: var(--accent-main-50);
}

.attributesContainer {
    height: 105px;
    background-color: var(--dark-gray-50);
    border-width: 3px;
    border-color: var(--accent-main);
    padding: 7px;
    flex-direction: row;
}

.skillBlock {
    height: 85px;
    width: 75px;
}

.skillButton {
    width: 75px;
    height: 75px;
}
    .skillButton.Activated {
        -unity-background-image-tint-color: var(--accent-main-50);
    }
    .skillButton.Cooldown {
        -unity-background-image-tint-color: var(--dark-gray-50);
    }

.skillCooldownBar .unity-progress-bar__progress {
    background-color: var(--white);
}

.healthStatsBoard {
    flex-grow: 1;
    margin-left: 5px;
}

.healthBar {
    flex-grow: 1;
}

.statsBoard {
    height: 45px;
    margin-top: 5px;
    justify-content: space-between;
}

.statsRow {
    height: 18px;
    margin-top: 4px;
    flex-direction: row;
    justify-content: space-evenly;
    -unity-text-align: middle-center;
}

.statElement {

}