.LobbyPanel{
    background-color: var(--dark-gray-50);
    margin: 10px;
    border-width: 5px;
    border-top-color: var(--light-gray);
    border-right-color: var(--light-gray);
    border-bottom-color: var(--light-gray);
    border-left-color: var(--light-gray);
}

.topSection{
    height: 180px;
    flex-direction: row;
    justify-content: space-between;
}

.backButton{
    height: 60px;
    width: 240px;
    margin: 40px;
    background-color: var(--light-gray);
}

.startButton{
    height: 100px;
    width: 240px;
    margin: 40px;
}


.midSection{
    height: 540px;
    flex-direction: row;
    justify-content: space-between;
}

.soldiersPanel{
    width: 300px;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
}

.iconColumn{
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
}

.soldierIcon{
    width: 120px;
    height: 120px;
    margin: 5px;
}

.teamPanel {
    align-self: center;
    height: 550px;
    width: 1150px;
    flex-direction: row;
    background-color: rgba(255, 0, 255, 0.2);
}

.memberField{
    flex-grow: 1;
}

.difficultyPanel{
    width: 300px;
    padding: 5px;
}

.difficultyButtonBox{
    flex-direction: row;
    justify-content: space-between;
}

.difficultyButton{
    width: 80px;
    height: 120px;
    margin: 5px;
}

.difficultyDescriptionBox{
    background-color: var(--gray);
    margin: 5px;
    flex-grow: 1;
    color: var(--white);
}

.difficultyName{
    background-color: var(--gray);
}

.difficultyModifiers{
    margin-top: 5px;
}

.bottomSection{
    height: 360px;
}

.DP {
    background-color: var(--dp-green-bg);
}

.WP {
    background-color: var(--wp-orange-bg);
}

.TS{
    background-color: var(--ts-blue-bg);
}

.attributesPanel {
    flex-grow: 1;
    height: 360px;
    flex-direction: row;
    justify-content: space-between;
}

.attributeBox {
    width: 600px;
    margin: 5px;
    padding: 10px;
    color: var(--white);
}

.buttonBox {
    flex-direction: row;
}

.attributeButton {
    height: 50px;
    flex-grow: 1;
}

.DeactivatedButton{
    background-color: var(--gray);
}

    .DeactivatedButton.DP {
        color: var(--dp-green-bg);
    }
    
    .DeactivatedButton.WP {
        color: var(--wp-orange-bg);
    }
    
    .DeactivatedButton.TS {
        color: var(--ts-blue-bg);
    }

.attributeDescription {
    height: 80px;
    margin-top: 5px;
    padding: 10px;
    font-size: 18px;
    -unity-text-align: middle-left;
    white-space: normal;
}

.miscBox {
    flex-grow: 1;
    padding: 10px;
    margin-top: 5px;
    justify-content: space-evenly;
    font-size: 18px;
}