.moduleBoard{
    align-self: center;
    top: 220px;
    width: 1500px;
    flex-direction: row;
    justify-content: space-between;
}

.moduleCase {
    width: 300px;
    height: 500px;
    transition-property: scale;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}

.moduleCase:hover{
    scale: 1.15 1.15;
    transition-property: scale;
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
}

.moduleBG {
    position: absolute;
    width: 300px;
    height: 500px;
}

.COLayer {
    position: absolute;
    width: 300px;
    height: 500px;
}

.COLayerRed {
    opacity: 0.4;
    filter: blur(2);
}

.COLayerGreen {
}

.COLayerBlue {
    opacity: 0.4;
    filter: blur(2);
}

.COLayerOrigin {
}

.wideIcon{
    width: 245px;
    height: 130px;
    margin: 15px;
}

.textBox {
    margin: 15px;
    margin-top: 0px;
    width: 245px;
    height: 325px;
    justify-content: space-around;
}

.description{
    white-space: normal;
}

.tier{
    position: absolute;
    top: 210px;
    left: 265px;
}

.buff {
    position: absolute;
    rotate: 0 0 1 90;
    top: 385px;
    left: 195px;
    width: 175px;
    -unity-text-align: upper-right;
}